.container {
  padding: 0 2rem;

  /* background-color: #050233fa; */
  min-height: 100vh;
  
}
/* .landingImage{
  width: 100%;
  z-index:0;
  backdrop-filter: blur(4px);
} */

.main {

  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* color:white; */
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.planetComponent{
  width: 65%;
  display:flex;
  flex-direction:row;
 justify-content: space-between;
 margin-top:16px;
 margin-top:20px;


}


@media  screen and (max-width:480px) {
  .planetComponent {
    width: 100%;
    display:flex;
    flex-direction: column;

  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  flex-direction: column;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height:40%;
  color: #eaeaea;
 } 






.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}










@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
/* .divided{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
