.menu{
    width:65%;
    /* height:40%; */
    background-color:lightgrey;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid whitesmoke;
   
    
}

.title{
    /* color: white; */
    flex-grow:1;
    text-align: center;
}
@media screen and (max-width:480px) {
    .menu{
        width: 100%;
    }
    
}