.menu{
    width:100%;
    /* height:40%; */
    background-color: rgba(1, 1, 34, 0.514);
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid whitesmoke;
   
    
}

.title{
    color: white;
    flex-grow:1;
    text-align: center;
}